:root {
  --primary: #ea40a4;
  --seconady: #3a82ee;
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'monserrat', sans-serif;
}



body {
  background: var(--light);
  color: var(--dark);
}

#app {
  display: grid;
  width: 100%;
  margin-top: 4rem;
  justify-content: center;
  justify-items: center;
}

section {
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-title input, .page-title span {
  text-align: center;
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: initial;
}

.button {
  background-color: red;
  border-radius: 5px;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.project-modal-bg{
  display: none;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: red;
  justify-content: center;
}

.project-modal-content { 
  width: 500px;
  background-color: green;
}

#description-section {
  display: grid;
}

#priority-section {
  display: grid;
}

#tasks-section {
  display: grid;
}

#submit-section {
  display: grid;
  justify-content: right;
}

.active {
  display: grid;
}

input {
  appearance: none;
  border: none;
  outline: none;
  cursor: initial;
  /* background: none; */
}

.project1 {
  background-color: antiquewhite;
  width: 500px;
}
